footer
{
    display: flex;
    flex-direction: column;
}
.container
{
    display: grid;
    position: relative;
    top: 70px;
    grid-template-columns: 1fr 1fr 1fr;
}

.logotipo>img{
    width: 100px;
}
.logotipo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: aqua;
    text-align: center;
    height: 100%;
}
.contato{
    background: aqua;
    text-align: center;

}
.redes{
    position: relative;
    background: aqua;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100px;
}
.barra
{
    display: flexbox;
    position: fixed;
    text-align: center;
    border-top: 1px solid gray;
    background-color: aqua;
    z-index: 99;
    width: 100%;
    padding: 5px;
    bottom: 0;
}



/* ----------------------------------------- */
@media screen and (max-width:900px) {
    .container .barra
    {
        top: 140px;
    }
}
@media screen and (max-width:768px)
{
    .container
    {
        grid-template-columns: none;
        top: 70px;
    }
}
@media screen and (max-width:500px)
{
    footer
    {
        display: flex;
        position: relative;
        top: 70px;
        height: 335px;
    }
    .container
    {
        width: 100%;
        display: flex;
        flex-direction: column;
        grid-template-columns: none;
    }
    .barra
    {
        font-size: x-small;
    }
}

/* ---------------------------*/
.redes a {
    color: blue;
    font-size: 1.5rem;
    transition: all 0.3s ease;
}

.redes a:hover {
    color: red;
    transform: all 0.3s ease;
}

.fab
{
    padding: 15px;
}



#zapzap
{
    bottom: 80px;
    right: 60px;
    background-color: rgba(0, 128, 0, 0.5);
    position: fixed;
    border-radius: 50%;
    color: green;
    z-index: 9;
    margin-bottom: -50px;
}
#zapzap:hover
{
    background-color: lime;
}
