.conteudo {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 20px;
}

.grid-item {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}

h1 {font-size: 2rem;}




@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}
.vermelho {background-color: red;}
.verde {background-color: green;}
.azul {background-color: blue;}
.amarelo {background-color: yellow;}
.roxo {background-color: purple;}